* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin: 200px auto;
    
}

.child {
    border: 1px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    left: 540px;
    bottom: 260px;
    background-color: red;
}